@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: white;
  color: #333; /* Dark Brown/Charcoal approximation */
  font-family: 'Quicksand', sans-serif;
}

h1, h2, h3, h4, h5, h6, .font-display {
  font-family: 'Nunito', sans-serif;
}
